body {
  font-family: Roboto, Arial;
  align-items: center;
}

h1 {
  font-size: 25px;
  font-weight: bolder;
}

p {
  font-size: 20px;
}

.li {
  font-size: 14px;
}

.projekte {
  display: flex;
  overflow: hidden;
  padding-bottom: 20px;
}

.thumb {
  width: 250px;
  float:left;
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}

.box-image {
  grid-area: inner-div;
}

.quer {
  width: 200px;
  margin-left: 20px;
  cursor: pointer;
}

.hoch {
  height: 100px;
  cursor: pointer;
}

.code {
  margin-top: 10px;
}
